**Q1. How do you comment code in Python? What are the different types of comments?**

In Python, we use the hash symbol ('#') to add comments to your code.

There are two types of comments.

1. Single line
2. Multi line

**Single line comment**


In Single line comments we use the hash character ('#'). Everything after the # on the line is considered a comment.

For example:

In [6]:
# This is a single line comment

print("Test code")

Test code

**Multi line comment**


We use multi line comments (""" or ''') to create comments that span across multiple lines.

For example:

In [5]:
"""
This is a multi-line comment.
It can span across multiple lines.
"""
print("Test code")

Test code

**Q2. What are variables in Python? How do you declare and assign values to variables?**

In Python, variables are used to store the  values. It allows you to assign values to a specific name and refer to that value using the variable name throughout your code.

To declare and assign values to variables in Python, we can use the following syntax:

Var_1 = value

In [7]:
#For Example:

Name = "Shrasth"
Age = 26
Gender = "Male"

Here we have declared three variables Name, Age and Gender and assigned the values Shrasth, 26, Male respectively.

**Q3. How do you convert one data type to another in Python?**

In Python, we can convert one data type to another using type conversion.

In [9]:
#For example:

Number = "123"

In [10]:
type(Number)

str

In [11]:
Number_1 = int(Number)

In [12]:
type(Number_1)

int

In the above example, initally 123 was a str, however using type conversion the str chanaged to int

**Q4. How do you write and execute a Python script from the command line?**

To write and execute a Python script from the command line we can follow the steps mentioned below.

1. After writing your code, save the file by .py extension.
2. Now, open command prompt and navigate to the directory where you saved your file.
3. In the command prompt, type python followed by the name of the file.
4. The Python interpreter wille execute the script and the output will be displayed.

**Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].**

In [15]:
my_list = [1,2,3,4,5]

In [16]:
my_list[1:3]

[2, 3]

**Q6. What is a complex number in mathematics, and how is it represented in Python?**

A complex number is a number which comprises of a real part and an imaginary part. It is written in the form:

x + yj

where x is real part and y is imaginary part

In [31]:
#For example:

complex_number = 2+7j

In [32]:
complex_number

(2+7j)

**Q7. What is the correct way to declare a variable named age and assign the value 25 to it?**

In [17]:
#The correct way:

age = 25

In [18]:
age

25

**Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?**

The variable price will have float as the data type.

In [19]:
price = 9.99

In [20]:
type(price)

float

**Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?**

In [21]:
name = "Shrasth Kumar"

In [23]:
print(name)

Shrasth Kumar

**Q10. Given the string "Hello, World!", extract the substring "World".**

In [24]:
word = "Hello, World!"

In [27]:
word[7:12]

'World'

**Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.**

In [28]:
is_student = False